{% extends "index.html" %}
    
    {% block table %}
      </br>
      <div class="col-xs-10 col-sm-8 col-md-8 
        col-xs-offset-1 col-sm-offset-2 col-md-offset-0">
        <section id="sectionA" class="group">
          <div class="table-responsive">

            <thead>

            <table class="table table-condensed">
              <tr>
                <th colspan="100" class="grey">
                <form class="navbar-form navbar-left" action='{{ url_for('search') }}' role="search" method="post">
                  <div class="input">
                    <input id="search" type="text" class="search simplebox" name="search" placeholder="Search...">
                  </div>
                </form>
                </th>
              </tr>
              <tr>
                  <th class="invisible-xs grey"></th>
                  <th class="visible-xs text-center grey">Link</th>
                  <th class="grey">Name</th>
                  <th class="text-center install-xs grey">Installs</th>
                  <th class="text-center hidden-xs grey">Unique link</th>
              </tr>
              </thead>
              <tbody>
                {% for results in data %}
                <tr>
                  <td class="invisible-xs col-sm-1"></td>
                  <td class="visible-xs text-center">
                    <button type="button" class="simplebox btn btn-default clip" data-clipboard-text="http://download.figure1.com/fall2015?m={{ results.hit_param_value }}"  
                        data-toggle="tooltip" data-placement="bottom" title="Copy the full link">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                      </button>
                  </td>
                  <nobr>
                  <td class="col-xs-2 col-sm-3 col-md-2">{{ results.hit_param_value }}
                    {% if results.converting_hit_count|int() >= 1000 %}
                    <img alt="badge" id="badge" src={{url_for('static', filename='images/6badge.svg')}}> </img>
                    {% elif results.converting_hit_count|int() >= 250 %}
                    <img alt="badge" id="badge" src={{url_for('static', filename='images/5badge.svg')}}> </img>
                    {% elif results.converting_hit_count|int() >= 150 %}
                    <img alt="badge" id="badge" src={{url_for('static', filename='images/4badge.svg')}}> </img>
                    {% elif results.converting_hit_count|int() >= 50 %}
                    <img alt="badge" id="badge" src={{url_for('static', filename='images/3badge.svg')}}> </img>
                    {% elif results.converting_hit_count|int() >= 25 %}
                    <img alt="badge" id="badge" src={{url_for('static', filename='images/2badge.svg')}}> </img>
                    {% elif results.converting_hit_count|int() >= 10 %}
                    <img alt="badge" id="badge" src={{url_for('static', filename='images/2badge.svg')}}> </img>
                  {% else %}

                  {% endif %}
                </nobr>
                  </td>
                  <td class="text-center col-sm-3 col-md-3">{{ results.converting_hit_count }}</td>
                  <td class="hidden-xs text-center col-sm-3 col-md-3" scope="row">                    
                    <nobr>
                      <input id="input" class="simplebox"
                      value="http://download.figure1.com/fall2015?m={{ results.hit_param_value }}">
                      <!-- Trigger -->
                      <button type="button" class="simplebox btn btn-default clip" data-clipboard-text="http://download.figure1.com/fall2015?m={{ results.hit_param_value }}"  
                        data-toggle="tooltip" data-placement="bottom" title="Copy the full link">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                      </button>
                    </nobr>
                  </td>
                </tr>
                {% endfor %}  
                <tr>
                  <th colspan="4" class="text-center">
                  <a class="" href="/">
                  return to leader board</a></th>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
{% endblock %}   